<h1>Admin Dashboard</h1>

<div class="admin-dashboard">
  <span class="admin-dashboard-count-row">
    <h3>Total Products count: <%= link_to @productscount, admin_products_path %></h3>
  </span>
  <span class="admin-dashboard-count-row">
    <h3>Total Categories count: <%= link_to @categoriescount, admin_categories_path %> </h3>
  </span>
</div>

