<section class="cart-show">

  <% if @enhanced_cart.length == 0 %>
    <h2 class=alert-danger> Your cart is empty!</h2>
    <h3> Please go back to add products to cart. </h3>
    <h3><%= link_to 'Back', products_path %></h3>
  <% else %>
    <%= render 'carts/details' %>
  <% end %>
</section>
