<section class="about-index">

  <header class="page-header">
    <h1>About &raquo; Jungle store</h1>
  </header>


  <div class="about-index-details">
    <h3>Jungle is the most awesome store ever!</h3>
    <h4>Various products from different categories are available in Jungle!</h4>
  </div>

</section>
